html 

{

	height: 100%;

}

html table.smllbx2 {margin-top:7px;} /* who */



body 

{

	height: 100%;

	margin-bottom: 1px;

	padding: 0px;

	font-family:  Verdana,Arial,Helvetica,sans-serif; 

         text-align: left;

	margin: 15px;

	color:#000000;

	background: #ffffff;

}



.clr 

{

	clear: both;

}



.outline 

{

	background: #ffffff url(../images/pi_cms_bg2.jpg) center -20px repeat-y;

	padding-bottom: 2px;

	padding-left: 2px;

	padding-right: 2px;

	padding-top: 0px;

}



#buttons_outer 

{

	background: #ffffff url(../images/pi_language_bar_bg.jpg) no-repeat;	

	width: 808px;

	margin-top: 0px;

  	margin-bottom: 0px;

	margin-right: 0px;

	float: left;

         color: #ffffff;

}





#buttons_inner 

{

	border: 0px solid #cccccc;

	height: 21px !important;

	height: 23px;

         color: #ffffff;

}





#button_search

{

	float: left;

         margin-left: 100px;

	padding: 0px;

	width: auto;

         color: #ffffff;

}



#buttons_language 

{

	float: right;

	margin: 0px;

	padding: 0px;

	width: auto;

    color: #ffffff;

}



#buttons_language>ul#mainlevel-nav li a 

{ 

	color: #ffffff;

	width: auto; 

}





#pathway_text 

{

	overflow: hidden;

	display: block;

	height: 25px;

	line-height: 25px !important;

	line-height: 22px;

	padding-left: 4px;

	padding-bottom: 10px;

	border: 0px solid #ccc;

	margin-bottom: 2px;

	font-size:8pt;

}



#pathway_text img 

{

	margin-left: 5px;

	margin-right: 5px;

	margin-top: 6px;

}



/* #letranegra

{

         color:#000000;

} */



#buttons 

{

	float: left;

	margin: 0px;

	padding: 0px;

	width: auto;

}



#buttons>ul#mainlevel-nav li a 

{ 

	width: auto; 

}



ul#mainlevel-nav

{

	list-style: none;

	padding: 0;

	margin: 0;

	font-size: 11px;

}



ul#mainlevel-nav li

{

	background-image: none;

	padding-left: 0px;

	padding-right: 0px;

	float: left;

	margin: 0;

	font-size: 11px;

	line-height: 21px;

	white-space: nowrap;

	border-right: 0px solid #cccccc;

}



ul#mainlevel-nav li a

{

	display: block;

	padding-left: 15px;

	padding-right: 15px;

	text-decoration: none;

	color: #ffffff;

	background: transparent;

}



ul#mainlevel-nav li a:hover

{

	color: #ffff00;

	background: #c64934;

}



#search_outer 

{

	background: #ffffff;

	float: left;

	width: 165px;

}



#search_inner 

{

 	border: 1px solid #cccccc;

	padding: 0px;

	height: 21px !important;

	height: 23px;

	overflow: hidden;

}



#search_inner form 

{

  padding: 0;

  margin: 0;

}



#search_inner .inputbox 

{

	border: 0px;

	padding: 3px 3px 3px 5px;

	font-size: 11px;

	color: #c64934;

}



#header_outer 

{

	background-color: #ffffff;

	text-align: left;

	border: 0px;

	margin: 0px;

	padding-bottom: 0px;

}



#header 

{

	background-color: #ffffff;

	float: left;

	padding: 0px;

	margin-right: 0px;

	width: 808px;

	height: 93px;

}



#top_outer

{

	background-color: #ffffff;

	float: left;

	width: 808px;

}

/* Dimensiones alrededor de la caja de busqueda. */

#top_inner 

{

	overflow: hidden;

	/* float: left; */

	background: #ffffff /*url(../images/pi_search_bar_bg.jpg) no-repeat*/;

	height: 30px;

	margin-top: 0px;

}



#top_inner_left_box 

{

	overflow: hidden;

	/* float: left; */

	width: 0px;	

	height: 30px;

}



#top_inner_right_box 

{

	/* float: center; */

	width: 808px;

	height: 30px;

	/* padding-left: 150px; */

	padding-top: 5px;

}



.search { 

	/* float:center;  */

	/*background: pink; */

	font-size: 10px;

}





#top_inner_right_box p 

{

	float: left;

	padding-top: 15px;

	padding-left: 12px;

	padding-right: 5px;

	color: #6788a7;

	font-size:12px;

	font-weight: bold;

	text-transform: lowercase;

}



#top_inner_menu 

{

	overflow: hidden;

	float: left;

	width: 808px;

	height: 25px;

	background-color: #6788a7;

}



#top_inner_menu_buttons 

{

         float: right;

	margin: 0px;

	padding: 2px;

	width: auto;

	color: #ffffff;

}



#top_inner_menu_buttons>ul#mainlevel-nav li a 

{ 

	text-align: center;

	color: #ffffff;

	width: auto; 

}





/* Menu de accesibilidad */

#fwrfId

{

	margin: 0px;

	padding-top: 4px;

	padding-right: 5px;

	padding-left: 5px;

	margin-right: 5px;

	width: auto;

	color: #FFFFFF;

}



#fwrfId a

{

	margin: 0px;

	padding-top: 4px;

	padding-right: 5px;

	width: auto;

	color: #FFFFFF;

	text-decoration:none;

}



/* Menu izquierdo */



#left_outer 

{

	background: #ffffff;

 	float: left;

	padding-top: 2px;

	width: 138px;

}





#left_inner 

{

	background-color: #ffffff;

	padding: 0px;

	float: left;

}



/* fondo azul menu principal */

#left_inner_menu1 

{

	width: 138px;

	background-color: #e6eef9;

	border: 0;

}

/* estilo principal de la letra en el men'u */

#left_inner_menu1 a.mainlevel:link, #left_inner_menu1 a.mainlevel:visited 

{

	background-color: #BBD6EF;

	/* background-color: #e6eef9; */

	vertical-align: middle;

	font-size: 11px;

	font-weight: bold;

	color: #134A81;

	/* color:  #6788a7; */

	text-align: left;

	padding-top: 5px;

	padding-left: 6px;

	width: 138px;

	text-decoration: none;

	border-bottom: 1px solid #ffffff;

}





#left_inner_menu1 a.mainlevel:active

{

	background-color: white;

	vertical-align: middle;

	font-size: 11px;

	font-weight: bold;

	/* color: #6788a7; */

	color: #666666;

	text-align: left;

	padding-top: 5px;

	padding-left: 6px;

	width: 138px;

	text-decoration: none;

	border-bottom: 1px solid #ffffff;

}



/* mouse sobre la opci'on menu principal */

/* fonditgo naranja */

#left_inner_menu1 a.mainlevel:hover 

{

	/* background-color: #fbda95; */

	text-decoration: underline;

	/* color: #134A81; */

	color: #6788a7;

	/* color: #6788a7; */

	border-bottom: 1px solid #ffffff;	

}



#left_inner_menu1 a.mainlevel#active_menu 

{

	color:#6788a7;

	/* font-weight: bold; */

	border-bottom: 1px solid #ffffff;

	background: white;

}



#left_inner_menu1 a.mainlevel#active_menu:hover 

{

	color: #856625;

	border-bottom: 1px solid #ffffff;	

}



/* menu hihghlight */

#left_inner_menu2 

{

	width: 137px;

}



#left_inner_menu2 #moduletable

{

	font-weight: normal;

}



#left_inner_menu2 a.mainlevel:link, #left_inner_menu2 a.mainlevel:visited 

{

	background-color: #BBD6EF;

	vertical-align: middle;

	font-size: 11px;

	font-weight: bold;

	color: #134A81;

	/* color: #6788a7; */

	text-align: left;

	padding-top: 5px;

	padding-left: 6px;

	width: 138px;

	text-decoration: none;

	border-bottom: 1px solid #ffffff;	

}



#left_inner_menu2 a.mainlevel:hover 

{

	/* background-color: #fbda95; */

	text-decoration: underline;

	color: #134A81;

	/* color: #6788a7; */

	border-bottom: 1px solid #ffffff;	

}



#left_inner_menu2 a.mainlevel#active_menu 

{

	color:#6788a7;

	/* font-weight: bold; */

	border-bottom: 1px solid #ffffff;

	background: white;

}



#left_inner_menu2 a.mainlevel#active_menu:hover 

{

	color: #ffffff;

	border-bottom: 1px solid #ffffff;	

}



/* componente feeds */

#left_inner_menu3 

{ 

	background: #BBD6EF /*url(../images/pi_left_menu3_bg.jpg) repeat*/;

	width: 138px;

}



/* encabezados anaranjados */

#left_inner_menu1 h3, #left_inner_menu2 h3, #left_inner_menu3 h3 

{

	background: #ffffff url(../images/pi_left_menu_h3.jpg) repeat-x;

	color: #666666;

	text-align: left;

	padding-left: 4px;

	height: 21px;

	line-height: 21px;

	font-weight: normal;

	font-size: 10px;

	/* text-transform: uppercase; */

	margin: 0 0 2px 0;

}



/* a.nav:link{font-weight:bold;color:#134A81; text-decoration:none;}

a.nav:active{font-weight:bold;color:#666666; text-decoration:none;}

a.nav:visited{font-weight:bold;color:#134A81; text-decoration:none;}

a.nav:hover{font-weight:bold;color:#134A81; text-decoration:underline;} 

a.navon:link{font-weight:bold;color:#666666; text-decoration:none;}

a.navon:active{font-weight:bold;color:#666666; text-decoration:none;}

a.navon:visited{font-weight:bold;color:#666666; text-decoration:none;}

a.navon:hover{font-weight:bold;color:#666666; text-decoration:underline;}

a.navhome:link{font-weight:bold;color:#CC6600; text-decoration:none;}

a.navhome:active{font-weight:bold;color:#CC6600; text-decoration:none;}

a.navhome:visited{font-weight:bold;color:#CC6600; text-decoration:none;}

a.navhome:hover{font-weight:bold;color:#CC6600; text-decoration:underline;} */









/* posicionamiento del contenido central */ 

#content_outer 

{

	background-color: #ffffff;

	padding-top: 0px;

	padding-left: 10px;

	margin-top: 0px;

	float: left;

	width: 660px; /*  Ancho de columna central con derecha  */

}



#content_inner

{

	float: none !important;

	float: left;

	padding: 0;

	padding-top: 2px;

	margin: 0;

}



#content_inner_grey_box 

{

	background: #ffffff url(../images/pi_content_grey_box_bg.jpg) repeat-x;

	overflow: hidden;

	height: 146px;

	width: 511px;

	padding-bottom: 40px;

}



#content_inner_grey_box p 

{

	color: #828487;

	/* font-size: 11px; */

	text-align: left;

	padding-left: 4px;

	margin-top: 10px;

	margin-left: 10px;

}



#content_inner_grey_box h3 

{

	color: #405b73;

	/* font-size: 12px; */

	font-weight: bold;

	text-align: left;

	padding-left: 4px;

	margin-top: 10px;

	margin-left: 10px;

}



#content_inner_grey_box a, content_inner_grey_box a.mainlevel:link, #content_inner_grey_box a.mainlevel:visited 

{

	display: block;

	vertical-align: middle;

	font-size: 11px;

	font-weight: bold;

	color: #4e6983;

	margin-right: 10px;

	text-align: left;

	text-decoration: none;

}



#content_inner_grey_box a.mainlevel:hover 

{

	text-decoration: none;

	color: #4e6983;

}



#content_inner_grey_box a.mainlevel#active_menu 

{

	color:#4e6983;

	font-weight: bold;

}



#content_inner_grey_box a.mainlevel#active_menu:hover 

{

	color: #856625;

}



#content_inner_list 

{

	width: 450px;

	padding-bottom: 40px;

}



#content_inner_list .list 

{ 

	background: #ffffff url(../images/pi_bullet_list.jpg) 0 4px no-repeat;

	border-bottom: 1px #cccccc dashed;

	padding-left: 10px;

	padding-bottom: 20px;

	float: none;

	font-size: 11px;

}



.rss_list 

{ 

	background: #ffffff /* url(../images/pi_bullet_list.jpg) 0 4px no-repeat */;

	/* border-bottom: 1px #cccccc dashed; */

	padding-left: 10px;

	padding-bottom: 10px;

	float: none; 

	font-size: 11px;

	color: blue;

}



.rss .moduletable h3 { /* titulos de la rss campus virtual y blogs */

	background: #ffffff /*url(../images/pi_rss_content_h3.jpg) 0 4px repeat*/;

	font-size: 10px;

	font-weight: bold;

	padding-bottom: 10px;

	color: #cc6600;

}





#buffet h3 {

	font-size: 11px; 

	font-weight: bold; 

	color: #FFFFFF; 

	padding: 2px 0 2px 4px; 

	margin: 0; 

	background-color: #999999;

}



#buffet h3 a {

	color: white;

}



#buffet {

		width: 100%; 

		margin: 10px 0; 

		/* float: left;  */

		background: #EEEEEE url(http://www.who.int/sysmedia/buffet_bkg.gif) repeat-y;

}

#buffet img {vertical-align: top; border: none;}

#buffet ul {list-style: none; margin: 0; padding: 0;}

#buffet ul li {float: left; padding: 5px; width: 131px;}

#buffet .credit {display: block; color: #666;font-size: 9px;padding-top: 4px;}









#content_inner_list a 

{

	margin-left: 5px;

	color: #000000;

}



#content_banner 

{

	overflow: hidden;

	display: block;

	line-height: 25px !important;

	line-height: 22px;

	padding-left: 4px;

	padding-top: 10px;

	padding-bottom: 10px;

	border: 0px solid #ccc;

	margin-bottom: 2px;

}



/* ancho de la tabla de contneido */

table.content_table 

{

	width: 100%;

	width: 510px;

	padding: 0px;

	margin: 0px;

	color: #000000;

}



table.content_table td 

{

	padding: 0px;

	margin: 0px;

         text-align: left;

}



#banner_inner 

{

	float: right;

	padding: 0px;

	height: 93px;

	/*width: 506px;*/

	width: 808px;

}



#poweredby_inner 

{

	float: left;

	padding: 0px;

	margin-left: 0px;

	height: 93px;

	width: 242px;

}



/* men u de la derecha */



#right_outer 

{

	float: left;

	background-color: #ffffff;

	width: 138px;

	padding-top: 0px;

	padding-right: 0px;

         text-align: right;

}



#right_inner 

{

	float: left;

	/* background-color: #c03f40;

	color: #ffffff; */

         width: 138px;

         text-align: left;

}



/* blog de la directora */



#right_inner_menu1 

{

          /* blog de la directora */

	/* background: #c03f40 url(../images/pi_directors_blog.jpg) repeat-x;	*/

	background: #ffffff /* url(../images/pi_directors_blog3.jpg) repeat-x; */

	width: 138px;

	padding-bottom: 10px;

	color: #ffffff;

}



#right_inner_menu1 a.mainlevel:link, #right_inner_menu1 a.mainlevel:visited 

{

	background: #ffffff;

	vertical-align: middle;

	font-size: 9px;

	font-weight: bold;

	color: #6788a7;

	text-align: left;

	padding-top: 5px;

	padding-left: 6px;

	width: 132px;

	text-decoration: none;

}



#right_inner_menu1 a.mainlevel:hover 

{

	background-position: 0px -25px;

	text-decoration: none;

	color: #6788a7;

}



#right_inner_menu1 a.mainlevel#active_menu 

{

	color:#6788a7;

	font-weight: bold;

}



#right_inner_menu1 a.mainlevel#active_menu:hover 

{

	color: #856625;

}



/* titulos de los perfiles */

#right_inner_menu1 h3 

{

	

         color:#CC6600;

         /* background-color: #97171a;

	color: #ffffff; */

	text-align: left;

	padding-left: 4px;

	height: 21px;

	font-weight: normal;

	/* font-size: 10px; */

	text-transform: uppercase;

	width: 138px;	

}



#right_inner_menu2 h3, #right_inner_profile h3

{

	color:#CC6600;

         /* background: #ffffff url(../images/pi_right_menu_h3_2.jpg) repeat-x;

	color: #ffffff; */

	text-align: left;

	padding-left: 4px;

	height: 21px;

	font-weight: normal; /* cambio */

	/* font-size: 10px; */

	text-transform: uppercase;

	width: 138px;	

}







#right_inner_menu1 ul.newsfeed /*  dimensiones del newsfeed */ 

{

        margin-top: 10px;

        width: 138px;

        font-weight:normal;

}



#right_inner_menu1 li.rss_list

{

    	background: #ffffff/* url(../images/pi_right_menu_bg.jpg) 0 4px no-repeat*/;

        /* padding-left: 10px;

        padding-bottom: 20px; 

        float: none;*/

        font-size: 11px;

        font-weight: bold;

        /* background-color: #c03f40; */

        color: #134A81;

        border: 0px;

}



#right_inner_menu1 li.rss_list a

{

        color: #134A81;

        text-decoration: none;

}



/* menu siguiente */



#right_inner_menu2 

{

    width: 138px;

    padding-bottom: 10px;

    padding-left: 0px;

    margin-left: 0px;

    /* color: #ffffff; */

    text-align: left;

}



#right_inner_menu2 a.mainlevel:link, #right_inner_menu2 a.mainlevel:visited 

{

	background: #ffffff/* url(../images/pi_right_menu1_bg.jpg) no-repeat */;

	vertical-align: middle;

	font-size: 9px;

	font-weight: bold;

	color: #134A81;

	text-align: left;

	padding-top: 5px;

	padding-left: 6px;

	width: 132px;

	text-decoration: none;

}



#right_inner_menu2 a.mainlevel:hover 

{

	background-position: 0px -25px;

	text-decoration: none;

	color: #6788a7;

}



#right_inner_menu2 a.mainlevel#active_menu 

{

	color:#6788a7;

	font-weight: bold;

}



#right_inner_menu2 a.mainlevel#active_menu:hover 

{

	color: #856625;

}



/* perfil */



#right_inner_profile {

	/* background: url(../images/pi_profiles_bg.jpg) repeat-x; */

	/* height: 164x; */

	width: 138px;

	padding-bottom: 10px;

	color: #134A81;

	/* color: #ffffff; */

}



#right_inner_profile .mainlevel {

	/* font-size: 16px; */

	float: left;

	text-align: left;

	padding-left: 6px;

	color:#134A81;

}



#right_inner_profile td {

	/* height: 40px; */

}



#right_inner_country

{

         float: right;

	width: 138px;

	/* color: #ffffff; */

}



/* 

#right_inner_country a.mainlevel:link, #right_inner_country a.mainlevel:visited 

{

	background-color: #c04041;

	vertical-align: middle;

	font-size: 11px;

	font-weight: bold;

	color: #ffffff;

	text-align: left;

	padding-top: 5px;

	padding-left: 6px;

	width: 138px;

	text-decoration: none;

}



#right_inner_country a.mainlevel:hover 

{

	background-color: #b70002;

	text-decoration: none;

	color: #ffffff;

}



#right_inner_country a.mainlevel#active_menu 

{

	color:#ffffff;

	font-weight: bold;

}



#right_inner_country a.mainlevel#active_menu:hover 

{

	color: #ffffff;

}

*/

/* --------------------------------------------------- */



#right_inner_country .moduletable td

{

         width: 138px;

         border-bottom: 1px solid #ffffff;

}



#right_inner_country .mainlevel {

	/* font-size: 16px; */

	float: left;

	text-align: left;

	padding-left: 6px;

}



#right_inner_country h3 

{

	background-color: #97171a;

	color: #ffffff;

	text-align: left;

	padding-left: 4px;

	height: 21px;

	font-weight: bold;

	font-size: 10px;

	/* text-transform: uppercase; */

	width: 138px;	

}







.right_inner_menu_background

{

	/* background: #ffffff url(../images/pi_right_menu_bg.jpg) center -20px repeat-y;

	background: #c04041 url(../images/pi_right_menu_bg.jpg) repeat-x; */

         background: #ffffff; 

}



/* menu de usuario */



.user_inner_title

{

	color: #cc6600;

	font-size: 12px;

	font-weight: bold;

	/* text-transform: uppercase; */

	padding-bottom: 10px;

}



.user1_inner 

{

	border-right: 1px dashed #cccccc;

	float: none !important;

	float: left;

	margin: 0px;

}



.user2_inner 

{

	border: 0px solid #cccccc;

	float: none !important;

	float: left;

	margin: 0px;

}





/* changed */



a.mainlevel:link, a.mainlevel:visited 

{

	float: right;

	font-size: 11px;

	font-weight: bold;

	color: #ffffff;

	text-align: left;

	padding-top: 3px;

	padding-bottom: 3px;

	padding-left: 20px;

	text-decoration: none;

}



a.mainlevel:hover 

{

	background-position: 0px -25px;

	text-decoration: none;

	color: #fff;

}



a.mainlevel#active_menu 

{

	color:#fff;

	font-weight: bold;

}



a.mainlevel#active_menu:hover 

{

	color: #fff;

}



a.sublevel:link, a.sublevel:visited 

{

	padding-left: 1px;

	vertical-align: middle;

	font-size: 11px;

	font-weight: bold;

	color: #c64934;

	text-align: left;

}



a.sublevel:hover 

{

	color: #900;

	text-decoration: none;

}



a.sublevel#active_menu 

{

	color: #333;

}



.highlight 

{

	background-color: Yellow;

	color: Blue;

	padding: 0;

}



.code 

{

	background-color: #ddd;

	border: 1px solid #bbb;

}



form 

{

	margin: 0;

 	padding: 0;

	color: #000000;

}



div.mosimage 

{

  border: 1px solid #ccc;

}



.mosimage 

{

  border: 1px solid #cccccc;

  margin: 5px

}



.mosimage_caption 

{

  margin-top: 2px;

  background: #efefef;

  padding: 1px 2px;

  color: #666;

  font-size: 10px;

  border-top: 1px solid #cccccc;

}



span.article_seperator 

{

	display: block;

	height: 8px;

}



.pool {

	color:#000000;

	margin-left: 6px;

	margin-right: 6px;

}



.alternative_form {

	color: #000000;

}



.rss {

	vertical-align: text-top;

}

/*

.taxonomy_h3 {

	color: #000000;

	text-align: left;

	padding-left: 4px;

	height: 21px;

	font-weight: bold;

	font-size: 10px;

	text-transform: uppercase;

}



*/



table td.body_outer 

{

	padding: 2px;

	border: 0px solid #cccccc;

}





.maintitle 

{

	color: #ffffff;

	font-size: 40px;

	padding-left: 15px;

	padding-top: 20px;

}



.error 

{

	font-style: italic;

	text-transform: uppercase;

	padding: 5px;

	color: #cccccc;

	font-size: 14px;

	font-weight: bold;

}



.back_button 

{

	float: left;

	text-align: center;

	font-size: 11px;

	font-weight: bold;

	width: auto;

	padding: 0px 0px;

	padding-top: 10px;

	line-height: 20px;

	margin: 1px;

}



.pagenav 

{

	text-align: center;

	font-size: 11px;

	font-weight: bold;

	border: 3px double #cccccc;

	width: auto;

	background: url(../images/button_bg.png) repeat-x;

	padding: 0px 10px;

	line-height: 20px;

	margin: 1px;

}



.pagenavbar 

{

	margin-right: 10px;

	float: right;

}



#footer 

{

         background-color: #6788a6;

	text-align: center;

	padding: 3px;

}



ul

{

	margin: 0;

	padding: 0;

	list-style: none;

}



li

{

	line-height: 15px;

	padding-left: 15px;

	padding-top: 0px;

	background-image: url(../images/arrow.png);

	background-repeat: no-repeat;

	background-position: 0px 2px;

}





td 

{

	text-align: left;

}





a:link, a:visited 

{

	color: #6788a7;

	text-decoration: none;

}



a:hover 

{

	color: #900; 	

	text-decoration: underline;

	/* font-weight: bold; */

}





table.contentpaneopen 

{

	width: 100%;

	padding: 0px;

	border-collapse: collapse;

	border-spacing: 0px;

	margin: 0px;

	font-size: 10pt;

	/* margin-left: 10px;	*/ 

	background: #ffffff;

}



table.contentpaneopen img 

{

	margin: 10px 10px 5px 0px; /* espacio de las imagenes de contenido */

}



table.contentpaneopen td 

{

	padding-right: 5px;

}



table.contentpaneopen td.componentheading 

{

	padding-left: 4px;

}



table.contentpane 

{

	background-color: #ffffff;

	width: 100%;

	padding: 0px;

	border-collapse: collapse;

	border-spacing: 0px;

	margin: 0px;

}



table.contentpane td 

{

	margin: 0px;

	padding: 0px;

}



table.contentpane td.componentheading 

{

	padding-left: 4px;

}



table.contentpaneopen fieldset 

{

	border: 0px;

	border-bottom: 1px solid #eee;

}



.list 

{ 

	padding-left: 10px;

	padding-bottom: 20px;

	float: none;

	font-size: 11px;

}



.list li

{

	background: #ffffff url(../images/pi_bullet_list.jpg) 0 4px no-repeat;

}



.button 

{

  color: #c64934;

  /* font-family: Arial, Hevlvetica, sans-serif; */

  text-align: center;

  font-size: 11px;

  font-weight: bold;

  border: 1px solid #ffffff;

  width: auto;

  background: url(../images/button_bg.png) repeat-x;

  height: 24px;

}



.button_search 

{

}



/* cajas de busqueda */



.inputbox 

{

	padding: 2px;

	border:solid 1px #cccccc;

	background-color: #ffffff;

         width: 250px;

         height: 16px;

}

.inputbox1 

{

	padding: 2px;

	border:solid 1px #cccccc;

	background-color: #ffffff;

         width: 100px;

         height: 16px;

}



.inputbox_search 

{

	padding-top: 0px;

	margin-top: 2px;

	vertical-align: top;

	border: solid 1px #cccccc;

	background-color: #ffffff;

}



.componentheading 

{

	background: url(../images/pi_content_title_bg.jpg) repeat-x;

	color: #666666;

	text-align: left;

	padding-top: 4px;

	padding-left: 4px;

	height: 21px;

	font-weight: bold;

	font-size: 14px;

	/* text-transform: uppercase; */



}



.contentcolumn 

{

	padding-right: 5px;

}





a.readon 

{

	font-size: 10px;

	font-weight: normal;

	color: #134a81;

	text-decoration: underline;

	line-height: 15px;

	margin-top: 10px;

}



.contentpagetitle 

{

	font-size: 14px; 

	font-weight: bold;

	color: #cccccc;

	text-align:left;

}



table.searchinto 

{

	width: 100%;

}



table.searchintro td 

{

	font-weight: bold;

}



table.moduletable 

{

	width: 100%;

	margin-bottom: 5px;

	padding: 0px;

	border-spacing: 0px;

	border-collapse: collapse;

}



table.moduletable-footer 

{

	background: silver;

	display: inline;

}



table.moduletable-vhl 

{

	background: ffffff;

color:blue;

line-height:150%;

}



table.moduletable-vhl a

{

	text-align:left;

margin-top: 20px;

margin-bottom: 20px;

color:blue;

}



div.moduletable 

{

	padding: 0;

	margin-bottom: 2px;

	color:# 000000;

}



/*

div.moduletable td

{

	height: 35px;

}

*/

/* Titulos de los m'odulos */

table.moduletable th, div.moduletable h3 

{

	color: #666666;

	text-align: left;

	padding-left: 2px;

	height: 21px;

	line-height: 21px;

	font-weight: bold;

	margin: 0 0 2px 0;

	font-size:12px;

}



table.moduletable td 

{

	padding: 0px;

	margin: 0px;

}



table.pollstableborder td 

{

	padding: 0px;

	color: #000000;

	width: 90%;

	text-align: left;

	float: left;

}



.poll

{

	color: #000000;

	font-size: 11px;

}



.sectiontableheader 

{

	font-weight: bold;

	background: #f0f0f0;

	padding: 4px;

}



.sectiontablefooter 

{



}



.sectiontableentry1 

{

	background-color : #f9f9f9;

	border-bottom: 1px solid #c03f40;

	padding-top: 0px;

	text-align: left;

}



.sectiontableentry2 

{

	background-color : #f9f9f9;

	border-bottom: 1px solid #c03f40;

	padding-top: 0px;

	text-align: left;

	width: 90%;

}



/* .small 

{

	color: #999999;

	font-size: 9px;

	font-weight:normal;

} */



.createdate 

{

	height: 15px;

	padding-bottom: 10px;

	color: #4f8cc1;

	font-size: 70%;

	text-transform: capitalize;

}



.modifydate 

{

	height: 15px;

	padding-top: 10px;

	color: #999999;

	font-size: 11px;

}









table.contenttoc 

{

	border: 1px solid #cccccc;

	padding: 2px;

	margin-left: 2px;

	margin-bottom: 2px;

}



table.contenttoc td {

	padding: 2px;

}



table.contenttoc th {

	background: url(../images/subhead_bg.png) repeat-x;

	color: #666666;

	text-align: left;

	padding-top: 2px;

	padding-left: 4px;

	height: 21px;

	font-weight: bold;

	font-size: 10px;

	/* text-transform: uppercase; */

}





a img {border: none;}







.contentheading

{

	height: 30px;

	color: #134A81;

	font-weight: bold;

	font-size:14px;

}



.latest_event {

	color:#134A81;

	margin-left: 6px;

	margin-right: 6px;

	font-size: 11px;

}



.latest_event a 

{

	color:#134A81;

	font-weight: bold;

}


/* Cambio bullets Vladimir Oviedo 300609 - 1450 referencia*/
li, li.latestnews, li.mostread, .moduletable li {
            line-height: 15px;
            padding-left: 15px; 
            padding-top: 0px; 
            background-image: url(../images/bullet_1.png);
            background-repeat: no-repeat;
            background-position: 0px 2px;
}

ul {
	 list-style: none;
}