/* Sección 1 */

/* Desde Agosto 7 2009 se han movido los colores a un archivo llamado colors.css para poder tener compatibilidad entre templates. */
@import url(colors_hq.css);

body {
    width:100%;
}

a {
  color: #225588;
}
#banner_inner {
        width: 100%;
}

.topmenu {
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.topmenu li {
  display: inline;
}

.topmenu li a{
  text-decoration:none;
  color: #225588;
}

.blog {
  margin: 0px;
}

.contentheading {
  margin: 0px;
  font-weight: bold;
  color:#225588;
}

.contentheading h1 {
  font-size: 10px;
}

.contentheading a {
  font-size: 10px;
  color:#225588;
  text-decoration: none;
}

.contentpagetitle {
    -webkit-text-size-adjust: 200%;
    font-weight: bold;
    line-height: 110%;
}

