body 
{
  height: 100%;
  margin-bottom: 1px;
  padding: 0px;
  font-family:  Verdana,Arial,Helvetica,sans-serif; 
  font-size: 12px;
  text-align: center;
  margin: 15px;
  color:#000000;
  background: #4D7191;
}

div#welcome_container {
    width:770px;
    margin: 0px auto 10px auto;
    text-align:left;
}

div#welcome_buttons {
    text-align:left;
    width:185px;
    float:right;
    margin-top:210px;
    color: #FFF;
}

div#welcome_logos {
    width:340px;
    float:left;
}

div#partner_logos {
    clear:right;
    width:70px;
    height:180px;
    float:right;
    text-align:right;
    margin: 204px 0px 0px 0px;
    color:#FFF;
}

div#partner_logos a {
    color:#FFF;
	text-decoration:none;
}

div#partner_logos a:hover {
    color:#FFF;
	text-decoration:underline;
}

div#welcome_centers {
    margin: 10px 2px 0px 0px;
    color:#FFF;
}

div#welcome_centers a {
    color:#FFF;
    text-decoration:none;
}

div#welcome_centers a:hover {
    color:#FFF;
    text-decoration:underline;
}

div#welcome_image {
    width:500px;
    height:300px;
    padding:0px;
    float:left;
    text-align:center;
    margin-top:8px;
}

.welcome_countries {
    margin-top:8px;
/*    padding-top:4px;
    border-top:1px solid #CDD0E0; */
    padding-bottom:14px;
    border-bottom:1px solid #CDD0E0;
    font-size: .95em;
	line-height: 100%;
    letter-spacing:0px;
    color:white;
}

.welcome_countries a {
    font-size: .95em;
    color:white;
    text-decoration:none;
}

.welcome_countries a:hover {
    text-decoration:underline;
}

.welcome_countries img {
    margin-top:3px;
}

.ftr {
    margin-top:12px;
    margin-bottom:0px;
    text-align:center;
    font-size: 0.9em;
    color:white;
}

.back_button 
{
    display:none;
}