/* Sección 1 */

h1 { font-size: 14pt; }
h2 { font-size: 12pt; }
h3 {  font-size: 10pt; }
h4 {   color:#0066cc;  }
/* Asigna la altura a 100% */
html 
{
	height: 100%;
}

/* small box de who */
html table.smllbx2 
{margin-top:7px;} /* who */


/* Define los parámetros generales de la letra: margen, rellenado, tipo de letra, align left, color */
body 
{
	height: 100%;
	margin-bottom: 1px;
	padding: 0px;
	font-family:  Verdana,Arial,Helvetica,sans-serif; 
    text-align: left;
    margin: 15px;
	color:#000000;
	background: #ffffff;
}


/* Quita los bordes de las imagenes */
a img {border: none;}

/* Resaltado */
.highlight 
{
	background-color: Yellow;
	color: Blue;
	padding: 0;
}


.code 
{
	background-color: #ddd;
	border: 1px solid #bbb;
}

form 
{
	margin: 0;
 	padding: 0;
	color: #000000;
}


.clr 
{
	clear: both;
}


/* Define algunas medidas de la distribución y el fondo de las páginas. Hace que el fondo se repita hacia abajo. */
.outline 
{
	background: #ffffff url(../images/pi_cms_bg2.jpg) center -20px repeat-y;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0px;
}


/* 'Sección 2 del css */



/* Pone el fondo y la forma del menú de Lenguage y accesibilidad y el color de la letra blanca 
	Define el ancho de la ventana. Comienza a crear el espacio donde se van a mostrar las cosas.
	Crea la flotación de los elementos hacia la izquierda.  */
#buttons_outer 
{
	background: #ffffff url(../images/pi_language_bar_bg.jpg) no-repeat;	
	width: 808px;
	margin-top: 0px;
  	margin-bottom: 0px;
	margin-right: 0px;
	float: left;
    color: #ffffff;
}


/*  */
#buttons_inner 
{
	border: 0px solid #cccccc;
	height: 21px !important;
	height: 23px;
         color: #ffffff;
         font-size:8pt;
}



#button_search
{
	float: left;
         margin-left: 100px;
	padding: 0px;
	font-size: 8pt;
	width: auto;
         color: #ffffff;
}



/* Pone los botones de idioma a la derecha. */
#buttons_language 
{
	float: right;
	margin: 0px;
	padding: 0px;
	width: auto;
    color: #ffffff;
}

/* Botones de lenguaje, que son vi~netas. */
#buttons_language>ul#mainlevel-nav li a 
{ 
	color: #ffffff;
	width: auto; 
}


/* texto del bread crumb. Fondo gris y tama~n o de letra m'as pequeno */
#pathway_text 
{
	overflow: hidden;
	display: block;
	/* height: 25px;
	line-height: 25px !important;
	line-height: 22px; */
	background:#efefef;
	padding-left: 4px;
	padding-bottom: 10px;
	border: 0px solid #ccc;
	margin-bottom: 2px;
	font-size:8pt;
}

/* pone los contenidos de los UL en letra mas pequeña */
.rss_list, li.mostread, .pictmenu, .pagenav_prev, .pagenav_next, .moduletable li
{ 
	background: #ffffff /* url(../images/pi_bullet_list.jpg) 0 4px no-repeat */;
	/* border-bottom: 1px #cccccc dashed; */
	padding-left: 10px;
	padding-bottom: 10px;
	float: none; 
	font-size: 10pt;
	color: blue;
}

.blog_more, .rss_list, .mostread, .latestevent, .ftr, .ftr td, .newsfeed, .poll td { /* cambio jc incluidos para mejor visibilidad */
	font-size:9pt;
}

.newsfeed strong {
		font-weight: normal;
	}

#pathway_text img 
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 6px;
}


#buttons 
{
	float: left;
	margin: 0px;
	padding: 0px;
	width: auto;
}




/* language and accessibilitly: pone horizontal el menú.   */
#buttons>ul#mainlevel-nav li a 
{ 
	width: auto; 
}


ul#mainlevel-nav
{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 11pt;
}

ul#mainlevel-nav li
{
	background-image: none;
	padding-left: 0px;
	padding-right: 0px;
	float: left;
	margin: 0;
	font-size: 11pt;
	line-height: 21px;
	white-space: nowrap;
	border-right: 0px solid #cccccc;
}


ul#mainlevel-nav li a
{
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	color: #ffffff;
	background: transparent;
}

ul#mainlevel-nav li a:hover
{
	color: #ffff00;
	background: #c64934;
}



#search_outer 
{
	background: #ffffff;
	float: left;
	width: 165px;
}

#search_inner 
{
 	border: 1px solid #cccccc;
	padding: 0px;
	height: 21px !important;
	height: 23px;
	overflow: hidden;
}

#search_inner form 
{
  padding: 0;
  margin: 0;
}

#search_inner .inputbox 
{
	border: 0px;
	padding: 3px 3px 3px 5px;
	font-size: 8pt;
	color: #c64934;
}



#header_outer 
{
	background-color: #ffffff;
	text-align: left;
	border: 0px;
	margin: 0px;
	padding-bottom: 0px;
}

#header 
{
	background-color: #ffffff;
	float: left;
	padding: 0px;
	margin-right: 0px;
	width: 808px;
	height: 93px;
}

#top_outer
{
	background-color: #ffffff;
	float: left;
	width: 808px;
}




/* Seccion 3 */

/* Dimensiones alrededor de la caja de busqueda. */
#top_inner 
{
	overflow: hidden;
	background: #ffffff;
	height: 30px;
	margin-top: 0px;
}

#top_inner_left_box 
{
	overflow: hidden;
	width: 0px;	
	height: 30px;
}

#top_inner_right_box 
{
	width: 808px;
	height: 30px;
	padding-top: 5px;
}

.search, .search input { 
	font-size: 7pt;
}


#top_inner_right_box p 
{
	float: left;
	padding-top: 15px;
	padding-left: 12px;
	padding-right: 5px;
	color: #6788a7;
	font-size: 12pt;
	font-weight: bold;
	text-transform: lowercase;
}

/* Menu de barra horizontal */
#top_inner_menu 
{
	overflow: hidden;
	float: left;
	width: 808px;
	height: 25px;
	background-color: #6788a7;
}

#top_inner_menu_buttons 
{
         float: right;
	margin: 0px;
	padding: 2px;
	font-size: 10pt;
	width: auto;
	color: #ffffff;
}

#top_inner_menu_buttons .mainlevel 
{
	font-size: 10pt;
}

#top_inner_menu_buttons>ul#mainlevel-nav li a 
{ 
	text-align: center;
	color: #ffffff;
	width: auto; 
}

/* Menu de accesibilidad */
#fwrfId
{
	margin: 0px;
	padding-top: 4px;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 5px;
	width: auto;
	color: #FFFFFF;
}

#fwrfId a
{
	margin: 0px;
	padding-top: 4px;
	padding-right: 5px;
	width: auto;
	color: #FFFFFF;
	text-decoration:none;
}



/* secci'on 4 */


/* Menu izquierdo */

#left_outer 
{
	background: #ffffff;
 	float: left;
	padding-top: 2px;
	width: 138px;
}

/* Color de fondo de los menus de la izquierda  */
#left_inner 
{
	background-color: #ffffff;
	padding: 0px;
	float: left;
}

/* fondo azul menu principal */
#left_inner_menu1 
{
	width: 138px;
	background-color: #BBD6EF; /* #e6eef9; */
	border: 0;
}

/* estilo principal de la letra en el men'u */
#left_inner_menu1 a.mainlevel:link, #left_inner_menu1 a.mainlevel:visited 
{
	background-color: #BBD6EF;
	/* background-color: #e6eef9; */
	vertical-align: middle;
	/* font-size: 11pt;  Este era el original pero se ve muy peque~no en algunos browsers */
	 font-size:9pt; 
	font-weight: bold;
	color: #134A81;
	/* color:  #6788a7; */
	text-align: left;
	padding-top: 5px;
	padding-left: 6px;
	width: 134px;
	text-decoration: none;
	border-bottom: 1px solid #ffffff;
}


#left_inner_menu1 a.mainlevel:active
{
	background-color: white;
	vertical-align: middle;
	/*font-size: 11pt;*/
	font-size: 9pt;
	font-weight: bold;
	/* color: #6788a7; */
	color: #666666;
	text-align: left;
	padding-top: 5px;
	padding-left: 6px;
	width: 134px;
	text-decoration: none;
	border-bottom: 1px solid #ffffff;
}

/* mouse sobre la opci'on menu principal */
/* fonditgo naranja */
#left_inner_menu1 a.mainlevel:hover 
{
	/* background-color: #fbda95; */
	text-decoration: underline;
	/* color: #134A81; */
	color: #6788a7;
	/* color: #6788a7; */
	border-bottom: 1px solid #ffffff;	
}

#left_inner_menu1 a.mainlevel#active_menu 
{
	color:#6788a7;
	/* font-weight: bold; */
	border-bottom: 1px solid #ffffff;
	background: white;
}

#left_inner_menu1 a.mainlevel#active_menu:hover 
{
	color: #856625;
	border-bottom: 1px solid #ffffff;	
}

/* menu hihghlight */
#left_inner_menu2 
{
	width: 138px;  /* 138 cambio en el dsssi 20080801 */
	background-color: #BBD6EF;
}

#left_inner_menu2 .moduletable, #left_inner_menu3 .moduletable
{
/*	padding-top: 5px; */
	font-weight: normal;
/* 	background-color:silver; */
	/* height:21px;  */
}


#left_inner_menu2 a.mainlevel:link, #left_inner_menu2 a.mainlevel:visited 
{
	background-color: #BBD6EF;
	vertical-align: middle;
	/* font-size: 11pt; /* Este era el original pero se ve muy peque~no en algunos browsers */
	font-size:9pt;
	font-weight: bold;
	color: #134A81;
	text-align: left;
	padding-top: 5px;
	padding-left: 6px;
	padding-right: 10px;
	width: 128px;  /* 138 cambio en el dsssi 20080801 */
	text-decoration: none;
	border-bottom: 1px solid #ffffff;	
}

#left_inner_menu2 a.mainlevel:hover 
{
	 /*background-color: #fbda95; */
	text-decoration: underline;
	color: #134A81;
	/* color: #6788a7; */
	border-bottom: 1px solid #ffffff;	
}

#left_inner_menu2 a.mainlevel#active_menu 
{
	color:#6788a7;
	/* font-weight: bold; */
	border-bottom: 1px solid #ffffff;
	background: white;
}

#left_inner_menu2 a.mainlevel#active_menu:hover 
{
	color: #6788a7;
	border-bottom: 1px solid #ffffff;	
}

/* Hasta aqui los menus van todos ape~nuscados uno sobre otro. */

/* componente feeds */
#left_inner_menu3 
{ 
	background: #BBD6EF /*url(../images/pi_left_menu3_bg.jpg) repeat*/;
	width: 138px;
}


/* encabezados anaranjados. los pone en su sitio */
#left_inner_menu1 h3, #left_inner_menu2 h3, #left_inner_menu3 h3 
{
	background: #FBDA95; /* #ffffff url(../images/pi_left_menu_h3.jpg) repeat-x; */ /* CAMBIO VLAKOV 11-02-2009 */
	text-align: left;
	padding-left: 4px;
	height: 21px;
	line-height: 21px;
	font-weight: normal;
	font-size: 10pt;
	text-transform: Capitalize; 
	margin: 0 0 2px 0;
	color: #666666;
}


/* changed */
/*  define los blancos de la barra de menús. y deja los links blancos a futuro  */
a.mainlevel:link, a.mainlevel:visited 
{
	float: right;
	font-size: 11pt;
	font-weight: bold;
	color: #ffffff;
	text-align: left;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
	text-decoration: none;
}

a.mainlevel:hover 
{
	background-position: 0px -25px;
	text-decoration: none;
	color: #fff;
}

a.mainlevel#active_menu 
{
	color:#fff;
	font-weight: bold;
}


a.mainlevel#active_menu:hover 
{
	color: #fff;
}

/* colores de los submenus */
a.sublevel:link, a.sublevel:visited 
{
	padding-left: 1px;
	vertical-align: middle;
	font-size: 8pt;
	font-weight: bold;
	color: #134A81;
	text-align: left;
}

a.sublevel:hover 
{
	color: #6788a7;
	text-decoration: underline;
}

a.sublevel#active_menu 
{
	color: #333;
}

/* Sección 5 */
/* posicionamiento del contenido central */ 
#content_outer 
{
	background-color: #ffffff; /* Pone un fondo blanco para que iguale los bordes del men'u. */ 
	/*border-width:1pt;
	border-style:solid;
	border-color:black; */
	padding-top: 0px;
	padding-left: 10px;
	margin-top: 0px;
	float: left; /* Esto es inutil para Internet Explorer pero necesario para Mozilla y Netscape */
	width: 657px; /*  Ancho de columna central con derecha  */
}



#content_inner
{
	float: none !important;
	float: left;
	padding: 0;
	padding-top: 2px;
	margin: 0;
}


.contentpagetitle {
	font-size:10pt;	
	line-height: 15px;
}


/* ancho de la tabla de contneido */
table.content_table 
{
	width: 100%;
	width: 500px; /* cambio jc original 510 creo que puede liberar presiones internas para que no se descuaderne en IE 6.0 */
	padding: 0px;
	margin: 0px;
	color: #000000;
}

table.content_table td 
{
	padding: 0px;
	margin: 0px;
         text-align: left;
}





/* Seccion 6 */


/* men u de la derecha */

#right_outer 
{
	float: left;
	background-color: #ffffff;
	width: 138px;
	padding-top: 0px;
	padding-right: 0px;
         text-align: right;
}

#right_inner 
{
	float: left;
         width: 138px;
         text-align: left;
}


/* blog de la directora */

#right_inner_menu1 
{
          /* blog de la directora */
	/* background: #c03f40 url(../images/pi_directors_blog.jpg) repeat-x;	*/
	background: #ffffff /* url(../images/pi_directors_blog3.jpg) repeat-x; */
	width: 138px;
	padding-bottom: 10px;
	color: #ffffff;
	font-size:9pt;
}

#right_inner_menu1 a.mainlevel:link, #right_inner_menu1 a.mainlevel:visited 
{
	background: #ffffff;
	vertical-align: middle;
	font-size: 9pt;
	font-weight: bold;
	color: #6788a7;
	text-align: left;
	padding-top: 5px;
	padding-left: 6px;
	width: 132px;
	text-decoration: none;
}

#right_inner_menu1 a.mainlevel:hover 
{
	background-position: 0px -25px;
	text-decoration: none;
	color: #6788a7;
}

#right_inner_menu1 a.mainlevel#active_menu 
{
	color:#6788a7;
	font-weight: bold;
}

#right_inner_menu1 a.mainlevel#active_menu:hover 
{
	color: #856625;
}



/* titulos de los perfiles */
#right_inner_menu1  .moduletable {
	color:black;
}

#right_inner_menu1 h3, #rss h3, #right_inner_menu1  .moduletable h3
{
    color:#CC6600; 
    display:block;
    clear:both;
    /* float:left; */
	text-align: left;
	padding-top: 15px;
	padding-left: 4px;
	padding-bottom: 5px;
	margin: 0px 0px 6px 0px;
	
	height: 21px;
	font-weight: normal;
	/* width: 138px;	*/
}


div.moduletable h3 {
	text-transform: uppercase;
	/* height: 21px;
	padding-top: 15px;/*  */
}

#left_inner_menu2 .moduletable h3, #left_inner_menu3 .moduletable h3
{
	padding-top: 0px;
	font-weight: normal;
	/* background-color:silver; */
	height:21px; 
}



/* menu de usuario */

.user_inner_title
{
	color: #cc6600;
	font-size: 12pt;
	font-weight: bold;
	/* text-transform: uppercase; */
	padding-bottom: 10px;
}

.user1_inner 
{
	border-right: 1px dashed #cccccc;
	float: none !important;
	float: left;
	margin: 0px;
}

.user2_inner 
{
	border: 0px solid #cccccc;
	float: none !important;
	float: left;
	margin: 0px;
}
/* imagenes dentro del contenido */
div.mosimage 
{
  border: 1px solid #ccc;
}

.mosimage 
{
  border: 1px solid #cccccc;
  margin: 5px
}

.mosimage_caption 
{
  margin-top: 2px;
  background: #efefef;
  padding: 1px 2px;
  color: #666;
  font-size: 10pt;
  border-top: 1px solid #cccccc;
}

span.article_seperator 
{
	display: block;
	height: 8px;
}

#rss 
{
	width:100%;
}



table td.body_outer 
{
	padding: 2px;
	border: 0px solid #cccccc;
}

.body_outer p  { font-size: 10pt;  }


.maintitle 
{
	color: #ffffff;
	font-size: 40pt;
	padding-left: 15px;
	padding-top: 20px;
}

.error 
{
	font-style: italic;
	text-transform: uppercase;
	padding: 5px;
	color: #cccccc;
	font-size: 14pt;
	font-weight: bold;
}

.back_button 
{
	float: left;
	text-align: center;
	font-size: 11pt;
	font-weight: bold;
	width: auto;
	padding: 0px 0px;
	padding-top: 10px;
	line-height: 20px;
	margin: 1px;
}


.pagenav 
{
	text-align: center;
	font-size: 11pt;
	font-weight: bold;
	border: 3px double #cccccc;
	width: auto;
	background: url(../images/button_bg.png) repeat-x;
	padding: 0px 10px;
	line-height: 20px;
	margin: 1px;
}

.pagenavbar 
{
	margin-right: 10px;
	float: right;
}

/* Ya tiene el barra de menu blanca y los lis todavia no */

#footer 
{
         background-color: #6788a6;
	text-align: center;
	padding: 3px;
}




ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

li
{
	line-height: 15px;
	padding-left: 15px;
	padding-top: 0px;
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
	background-position: 0px 2px;
}


td 
{
	text-align: left;
}


a:link, a:visited 
{
	color: #0066cc; /* #6788a7; */
	text-decoration: none;
}

a:hover 
{
	color: #900; 	
	text-decoration: underline;
}


/*  Seccion 07  */

/*  Control del contenido */

table.contentpaneopen 
{
	width: 100%;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0px;
	margin-top: 10px;
	background: #ffffff;
	font-size: 9pt;
}

table.contentpaneopen img 
{
	margin: 10px 10px 5px 0px;
}

table.contentpaneopen td 
{
	padding-right: 5px;
	/* text-align:justify; */
	font-size: 10pt;  /* Cambiojc 20090205 para bajar el tama~no de las letras de los pa'ises */
}

table.contentpaneopen td.componentheading 
{
	padding-left: 4px;
}

table.contentpaneopen a {
		color: #134a81; /* #6788a7; */
	text-decoration: none;
	}

	table.contentpaneopen span {
	font-style:italic;
	font-size:9pt;	
}

/* cajas de busqueda */

.inputbox 
{
	padding: 2px;
	border:solid 1px #cccccc;
	background-color: #ffffff;
         /* width: 250px;
         height: 16px;*/
}
.inputbox1 
{
	padding: 2px;
	border:solid 1px #cccccc;
	background-color: #ffffff;
         width: 100px;
         height: 16px;
         margin-left: 10px;
}

.inputbox_search 
{
	padding-top: 0px;
	margin-top: 2px;
	vertical-align: top;
	border: solid 1px #cccccc;
	background-color: #ffffff;
}


a.readon 
{
	font-size: 10pt;
	font-weight: normal;
	color: #134a81;
	text-decoration: underline;
	line-height: 15px;
	margin-top: 10px;
}


table.searchinto 
{
	width: 100%;
}

table.searchintro td 
{
	font-weight: bold;
}

table.moduletable 
{
	width: 100%;
	margin-bottom: 5px;
	padding: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

.moduletable {
	color:black;	
	font-size:9pt;
}

#rss h3
{
width: 100%;
}


div.moduletable 
{
	padding: 0;
	margin-bottom: 2px;
	color:# 000000;
}


/* Titulos de los m'odulos */
table.moduletable th /*, div.moduletable h3 */
{
	color: #666666;
	text-align: left;
	padding-left: 2px;
	height: 21px;
	line-height: 21px;
	font-weight: bold;
	margin: 0 0 2px 0;
	font-size: 10pt;
		
}


table.moduletable th 
{
         color:#CC6600;
	text-align: left;
	padding-left: 4px;
	height: 21px;
	font-weight: normal;
	text-transform: uppercase;
	/* width: 138px;	 */
	}


table.pollstableborder td 
{
	padding: 0px;
	color: #000000;
	width: 90%;
	text-align: left;
	float: left;
}

.poll
{
	color: #000000;
	font-size: 11pt;
}


.button 
{
  color: #c64934;
  text-align: center;
  font-size: 11pt;
  font-weight: bold;
  border: 1px solid #ffffff;
  width: auto;
  background: url(../images/button_bg.png) repeat-x;
  height: 24px;
}


table.moduletable th 
{
         color:#CC6600;
	text-align: left;
	padding-left: 4px;
	height: 21px;
	font-weight: normal;
	text-transform: uppercase;
	width: 138px;	

	}


.sectiontableentry1 
{
	background-color : #f9f9f9;
	border-bottom: 1px solid #c03f40;
	padding-top: 0px;
	text-align: left;
}

.sectiontableentry2 
{
	background-color : #f9f9f9;
	border-bottom: 1px solid #c03f40;
	padding-top: 0px;
	text-align: left;
	width: 90%;
}


.createdate 
{
	height: 15px;
	padding-bottom: 10px;
	color: #4f8cc1;
	font-size: 70%;
	text-transform: capitalize;
}

.modifydate 
{
	height: 15px;
	padding-top: 10px;
	color: #999999;
	font-size: 11pt;
}


.contentheading
{
	height: 14px;
	color: #134A81;
	font-weight: bold;
	font-size:11pt;
	padding-bottom:5px;
	line-height: 15px;
}

.content_rating {
	color:silver;
	font-size: 10pt;
}

.content_vote { font-size: 10pt; }

/* EStos sirven cuando se enlaza al resultado de un componente */
.componentheading 
{
	background: url(../images/pi_content_title_bg.jpg) repeat-x;
	color: #666666;
	text-align: left;
	padding-top: 4px;
	padding-left: 4px;
	height: 21px;
	font-weight: bold;
	font-size: 10pt; 
	text-transform: uppercase;

}

.contentcolumn 
{
	padding-right: 5px;
}

/* enlaces en los resultados de los componentes 
.category, .contentdescription {
	font-size: 11pt;
}*/

table.contentpane 
{
	background-color: #ffffff;
	width: 100%;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0px;
}

/* tamaño de las letras en los resultados de los componentes */
table.contentpane td 
{
	margin: 0px;
	padding: 0px;
	font-size:10pt; /* cambio jc feb 4 2009 */
}

table.contentpane td.componentheading 
{
	padding-left: 4px;
}


.itemdescription{
	position:relative;
	left:5;
}



/* Caja gris de contendios */


#content_inner_grey_box 
{
	background: #ffffff url(../images/pi_content_grey_box_bg.jpg) repeat-x;
	overflow: hidden;
	height: 146px;
	width: 511px;
	padding-bottom: 40px;
}

#content_inner_grey_box p 
{
	color: #828487;
	/* font-size: 11pt; */
	text-align: left;
	padding-left: 4px;
	margin-top: 10px;
	margin-left: 10px;
}

#content_inner_grey_box h3 
{
	color: #405b73;
	/* font-size: 12pt; */
	font-weight: bold;
	text-align: left;
	padding-left: 4px;
	margin-top: 10px;
	margin-left: 10px;
}

#content_inner_grey_box a, content_inner_grey_box a.mainlevel:link, #content_inner_grey_box a.mainlevel:visited 
{
	display: block;
	vertical-align: middle;
	font-size: 11pt;
	font-weight: bold;
	color: #4e6983;
	margin-right: 10px;
	text-align: left;
	text-decoration: none;
}

#content_inner_grey_box a.mainlevel:hover 
{
	text-decoration: none;
	color: #4e6983;
}

#content_inner_grey_box a.mainlevel#active_menu 
{
	color:#4e6983;
	font-weight: bold;
}

#content_inner_grey_box a.mainlevel#active_menu:hover 
{
	color: #856625;
}

/* creo que no se usa
#content_inner_list 
{
	width: 450px;
	padding-bottom: 40px;
}

#content_inner_list .list 
{ 
	background: #ffffff url(../images/pi_bullet_list.jpg) 0 4px no-repeat;
	border-bottom: 1px #cccccc dashed;
	padding-left: 10px;
	padding-bottom: 20px;
	float: none;
	font-size: 11pt;
}
*/

/* Menu inferior y menu de information sources.  */
.mainlevel-footer, .mainlevel-vhl
{
	font-size: 10pt;
}

.latest_event {
	color:#134A81;
	margin-left: 6px;
	margin-right: 6px;
	font-size: 10pt;
}

.latest_event a 
{
	color:#134A81;
	font-weight: bold;
}

.mainlevel-vhl 
{
	background: ffffff;
color:blue;
line-height:21px /*150%*/;
margin-top: 15px;
}

table.moduletable-footer 
{
	background: silver;
	display: inline;
	font-size: 10pt;
}



.rss { /* titulos de la rss campus virtual y blogs */
	background: #ffffff;
	font-size: 10pt;
	font-weight: bold;
	padding-bottom: 10px;
	color: #cc6600;
} 

/* Titulo de fondo gris */

#buffet h3 {
	font-size: 10pt;
	font-weight: bold; 
	color: #FFFFFF; 
	width: 100%;
	padding: 2px 0 2px 4px; 
	margin: 0; 
	
	background-color: #999999;
}

#buffet h3 a {
	color: white;
}

#buffet {
		width: 100%; 
		margin: 10px 0; 
		background: #EEEEEE;
}
#buffet img {vertical-align: top; border: none;}
#buffet ul {list-style: none; margin: 0; padding: 0;}
#buffet ul li {float: left; padding: 5px; width: 131px;}
#buffet .credit {display: block; color: #666;font-size: 9pt;padding-top: 4px;}



#content_banner 
{
	overflow: hidden;
	display: block;
	line-height: 25px !important;
	line-height: 22px;
	padding-left: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 0px solid #ccc;
	margin-bottom: 2px;
}

#banner_inner 
{
	float: right;
	padding: 0px;
	height: 93px;
	/*width: 506px;*/
	width: 808px;
}

#poweredby_inner 
{
	float: left;
	padding: 0px;
	margin-left: 0px;
	height: 93px;
	width: 242px;
}

/* Tablas de contenido */

table.contenttoc 
{
	border: 1px solid #cccccc;
	padding: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
}

table.contenttoc td {
	padding: 2px;
}

table.contenttoc th {
	background: url(../images/subhead_bg.png) repeat-x;
	color: #666666;
	text-align: left;
	padding-top: 2px;
	padding-left: 4px;
	height: 21px;
	font-weight: bold;
	font-size: 10pt;
	text-transform: uppercase;
}

.hrnvtd { /* font-weight:bold;*/  background-color:#EEEEEE; padding-top:3px;padding-bottom:3px;color:#666666; }
.hrnv, .pagenavcounter { font-size:8pt;  }
a.hrnv:link{text-decoration:none;color:#134A81;}
a.hrnv:active{text-decoration:none;color:#134A81;}
a.hrnv:visited{text-decoration:none;color:#134A81;}
a.hrnv:hover{text-decoration:underline;color:#134A81;}
a.hrnvon:link{font-weight:bold;text-decoration:none;color:#666666;}
a.hrnvon:active{font-weight:bold;text-decoration:none;color:#666666;}
a.hrnvon:visited{font-weight:bold;text-decoration:none;color:#666666;}
a.hrnvon:hover{font-weight:bold;text-decoration:underline;color:#666666;}
.ftr {/* font-size:10px; */ /* */color:#666666;}
a.ftr:link{text-decoration:underline;color:#134A81;}
a.ftr:active{color:#999999;}
a.ftr:visited{color:#666666;}
a { font-size: 10pt;}
/* main 20090115 */


#dm_title {
	font-size: 12pt;
}

.input, label, .pictmenu  {
	font-size: 10pt;	
}


