.wrapper-toolbar {border:1px solid white;margin-bottom:20px}
#toolbar form {margin:0;position:relative}
#toolbar form:after {font-family:FontAwesome;content:'\f002';position:absolute;color:#ccc;right:14px;top:9px;font-size:20px}
#toolbar input.search-query {border:none;padding:10px 40px 10px 14px;color:#999;width:160px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
#toolbar input.search-query:focus {color:#333}
.nav li a {
  display: block;
}
.navbar .nav > li > a {
  float: none;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: none;
}

.navbar .nav
{
  position: relative;
  left: 0px;
  display: block;
  float: left;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
}


.nav > li > a:hover, .nav > li > a:focus {
  text-decoration-line: none;
  text-decoration-style: solid;
  background-color: #eeeeee;
}


.navbar-inverse .brand, .navbar-inverse .nav > li > a
{
  color: #ffffff;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover
{
  background-color: #538400;
  color: #ffffff;
  text-decoration-line: none;
  text-decoration-style: solid;
}

/* Line 9 */
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover
{
  background-color: #538400;
  color: #ffffff;
  text-decoration-line: none;
  text-decoration-style: solid;
}

/* Line 9 */
.navbar-inverse .brand:hover, .navbar-inverse .nav > li > a:hover, .navbar-inverse .brand:focus, .navbar-inverse .nav > li > a:focus
{
  color: #999999;
}

/* Line 9 */
.navbar-inverse .brand:hover, .navbar-inverse .nav > li > a:hover, .navbar-inverse .brand:focus, .navbar-inverse .nav > li > a:focus
{
  color: #999999;
}

/* Line 9 */
.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover
{
  background-color: transparent;
  color: #999999;
}

/* Line 9 */
.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover
{
  background-color: transparent;
  color: #999999;
}

https://onyx3.joomlatemplate.joomlashack.com/templates/js_onyx/css/joomla30-green-light-extended.css

/* Line 1 */
a
{
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

/* Line 1 */
a:hover, a:focus
{
  text-decoration-line: none;
  text-decoration-style: solid;
}

/* Line 1 */
a:hover, a:focus
{
  text-decoration-line: none;
  text-decoration-style: solid;
}













.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 1170px;
}